.contact {
    padding: 12rem 10%;
    background: #080808;
    color: #E5E7EB;
    text-align: center;
}

/* TITLE */
.contact-title {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.contact-title span {
    color: #8fff9a;
}

/* SUBTITLE */
.contact-subtitle {
    font-size: 1.4rem;
    color: #9ca3af;
    margin-bottom: 3rem;
}

/* FORM */
/* FORM CONTAINER */
.contact-form {
    max-width: 600px;
    margin: 4rem auto 0;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* INPUTS */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1.2rem;

    border-radius: 0.5rem;
    border: 1px solid #2f3835;

    background: #080808;
    color: #E5E7EB;

    font-size: 1.4rem;
}

/* PLACEHOLDER */
.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #6b7280;
}

/* FOCUS */
.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #8fff9a;
    box-shadow: 0 0 10px rgba(143, 255, 154, 0.2);
}

/* TEXTAREA */
.contact-form textarea {
    resize: none;
}

/* BUTTON */
.contact-form button {
    align-self: center;
    margin-top: 1rem;
}